@page "/reports/index"
@attribute [Authorize]
@inject IAlertService AlertService
@inject NavigationManager NavigationManager
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Reports</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Reports</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a style="float:left; color:grey;">Reporting View!</a>
                        <a href="" @onclick="@(() => DownloadReport())" @onclick:preventDefault style="float:right; color:grey;"><i class="fas fa-download"></i></a>
                    </div>
                    <!-- ./card-header -->
                    <div class="card-body p-0">
                        <table class="table table-hover">
                            <tbody>
                                @if (loading)
                                {
                                    <tr>
                                        <td colspan="12" class="text-center">
                                            <span class="spinner-border spinner-border-lg align-center"></span>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var item in this.reports.ListReports)
                                    {
                                        <tr data-widget="expandable-table" aria-expanded="false">
                                            <td>
                                                <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
                                                @item.Taluka
                                            </td>
                                        </tr>
                                        <tr class="expandable-body">
                                            <td>
                                                <div class="p-0">
                                                    <table class="table table-hover">
                                                        <tbody>
                                                            @if (item.UnionCounsils.Count > 0)
                                                            {
                                                                <tr data-widget="expandable-table" aria-expanded="false">
                                                                    <td>
                                                                        <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
                                                                        Union Counsils
                                                                    </td>
                                                                </tr>
                                                                <tr class="expandable-body">
                                                                    <td>
                                                                        <div class="p-0">
                                                                            <table class="table table-hover">
                                                                                <tbody>
                                                                                    @foreach (var ucs in item.UnionCounsils)
                                                                                    {
                                                                                        <tr data-widget="expandable-table" aria-expanded="false">
                                                                                            <td>
                                                                                                <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
                                                                                                @ucs.UnionCounsilUnionCounsil
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr class="expandable-body">
                                                                                            <td>
                                                                                                <div class="p-0">
                                                                                                    <table class="table table-hover">
                                                                                                        <thead>
                                                                                                            <tr>
                                                                                                                <th>Name</th>
                                                                                                                <th>Contact</th>
                                                                                                                <th>Reference</th>
                                                                                                            </tr>
                                                                                                        </thead>
                                                                                                        <tbody>
                                                                                                            @foreach (var entry in ucs.Entries)
                                                                                                            {
                                                                                                                <tr>
                                                                                                                    <td>@entry.Name</td>
                                                                                                                    <td>@entry.ContactNumber</td>
                                                                                                                    <td>@entry.Reference</td>
                                                                                                                </tr>
                                                                                                            }
                                                                                                        </tbody>
                                                                                                        <tfoot>
                                                                                                            <a href="" @onclick:preventDefault @onclick="@(() => GetAllEntries(item.Taluka, ucs.UnionCounsilUnionCounsil))"
                                                                                                               style="float: left; color: #007bff;">
                                                                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                                                                View all Entries in @item.Taluka and @ucs.UnionCounsilUnionCounsil
                                                                                                            </a>
                                                                                                        </tfoot>
                                                                                                    </table>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            }
                                                            @if (item.Villages.Count > 0)
                                                            {
                                                                <tr data-widget="expandable-table" aria-expanded="false">
                                                                    <td>
                                                                        <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
                                                                        Villages
                                                                    </td>
                                                                </tr>
                                                                <tr class="expandable-body">
                                                                    <td>
                                                                        <div class="p-0">
                                                                            <table class="table table-hover">
                                                                                <tbody>
                                                                                    @foreach (var village in item.Villages)
                                                                                    {
                                                                                        <tr data-widget="expandable-table" aria-expanded="false">
                                                                                            <td>
                                                                                                <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
                                                                                                @village.Village
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr class="expandable-body">
                                                                                            <td>
                                                                                                <div class="p-0">
                                                                                                    <table class="table table-hover">
                                                                                                        @if (village.Count > 0)
                                                                                                        {
                                                                                                            <thead>
                                                                                                                <tr>
                                                                                                                    <th>Name</th>
                                                                                                                    <th>Contact</th>
                                                                                                                    <th>Reference</th>
                                                                                                                </tr>
                                                                                                            </thead>
                                                                                                            <tbody>
                                                                                                                @foreach (var entry in village.Entries)
                                                                                                                {
                                                                                                                    <tr>
                                                                                                                        <td>@entry.Name</td>
                                                                                                                        <td>@entry.ContactNumber</td>
                                                                                                                        <td>@entry.Reference</td>
                                                                                                                    </tr>
                                                                                                                }
                                                                                                            </tbody>
                                                                                                            <tfoot>
                                                                                                                <a href="" style="float: left; color: #007bff;">
                                                                                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                                                                    View all Entries in @item.Taluka and @village.Village
                                                                                                                </a>
                                                                                                            </tfoot>
                                                                                                        }
                                                                                                    </table>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

@code {
    private bool loading;
    private string baseUrl = "https://entrynowapi.azurewebsites.net/api/";
    private Reports reports = new Reports();
    private List<string> talukas = new List<string>();
    protected override async Task OnInitializedAsync()
    {
        loading = true;
        await GetData();
        loading = false;
    }
    private async Task GetData()
    {
        try
        {
            using (System.Net.Http.HttpClient httpClient = new System.Net.Http.HttpClient())
            {
                using (System.Net.Http.HttpResponseMessage response = await httpClient.GetAsync(baseUrl + "reports"))
                {
                    string apiResponse = await response.Content.ReadAsStringAsync();
                    reports = Newtonsoft.Json.JsonConvert.DeserializeObject<Reports>(apiResponse);
                }
            }
        }
        catch (Exception e)
        {
            AlertService.Clear(); AlertService.Error(e.Message);
            loading = false;
            StateHasChanged();
        }
    }
    public async void DownloadReport()
    {
        string url = $"{baseUrl}reference/downloadEntriesByReference/1";
        await JSRuntime.InvokeAsync<object>("open", url, "_blank");
    }
    public async void GetAllEntries(string talukaVal, string ucVal)
    {
        string url = $"reports/index/entries/{talukaVal}/{ucVal}";
        await JSRuntime.InvokeAsync<object>("open", url, "_blank");
        //NavigationManager.NavigateTo($"reports/index/entries/{talukaVal}/{ucVal}");
    }
}